body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangulo {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 5em;
    width: 5em;
    margin-right: 2em;

    border: .2em solid black;
    color: #fff;
    background-color: navy;
}